@media screen and (max-width: 767px) {
    .header {
        & .nav {
            display: flex;
            flex-direction: column;
            & li {
                height: 100%;
            }
        }
    }
}

@media screen and (min-width: 767px) {
    .header {
        & .nav {
            height: 71px;
            & li {
                height: 100%;
            }
        }
    }
}

.tire-shop-item {
    background: #d9d9d9;
    padding: 0.5em;
    border: 1px solid #BBBBBB;
    border-radius: 5px;
}

.header__logo {
    height: 64px;
    width: auto !important;
}

.item-img {
    max-height: 245px;
    min-height: 245px;
    height: 245px;
    //width: auto !important;
    margin: 0 auto;
}

.intro {
    height: 450px;
    background: url("../images/2.jpg") no-repeat;
    background-position-x: -170px;
}

.hvr-shutter-in-vertical2 {
    border-radius: 5px;
    background: rgb(252,94,53);
    background: linear-gradient(to bottom, rgba(252,94,53,1) 55%,rgba(252,94,53,1) 55%,rgba(233,71,34,1) 100%);

    &:hover {
        transform: translate(0px, 1px);
    }

    &:after,
    &:before {
        content: "" !important;
        background: none;
        position: absolute;
        display: none;
    }
}

.my-item {
    padding: 1rem;
    background: #fff;
    border-radius: 4px 4px 0 0;
    -webkit-box-shadow: 0 0 32px rgb(0 0 0 / 8%);
    box-shadow: 0 0 32px rgb(0 0 0 / 8%);

    .item-a {
        margin-bottom: 1.5rem;
        display: block;
        text-align: center;
        //padding: 1rem;
        img {
            max-width: 100%;
        }
    }
}

@media screen and (max-width: 991px) {
    .intro {
        height: 350px;

        h1 {
            font-size: 1.7rem;
        }

        h5 {
            font-size: 1rem;
        }
    }

    .item-a {
        text-align: center;
        display: block;
        width: 100%;
    }

    .item-img {
        margin: 0 auto;
        min-height: auto !important;
        max-height: available !important;
        height: auto !important;
        width: auto !important;
    }
}
